# rename this to .shopifydev.yaml and don't add live secrets here
---
api_key: youneedakey
password: andapassword
url: my_store_url.myshopify.com/
project_root: relative/path
project_root_variable: SOME_ENVIRONMENT_VARIABLE
