<div id="page" class="clearfix">

  <div id="header">
    <div class="wrapper">
      <p><h1>{{ page.title }}</h1></p>
    </div>
  </div>

  <div class="content">
    <div class="wrapper">

      <div id="contact-form">
          {{ page.content }}
      </div>

    </div>
  </div>
</div> <!-- /#page -->
